---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Ask Hugo', href: 'mailto:hugo.limon@gmail.com', icon: 'tabler:message' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Hugo<span class="lg:hidden ">'s</span><span class="hidden lg:inline"> Limon's <br class="2xl:hidden"/></span>
      <span class="text-accent dark:text-white highlight"> IT</span> Consulting
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Hugo's IT Consulting</span> provides professional technology management services for a wide range of corporate enterprises, as well as small businesses too. With over a decade of real work experience, he's overcome a wide variety of software, hardware, and networking challenges.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Over a Decade of Enterprise Experience.</span> If you have any questions about your network or IT infrastructure, ask for a free consultation!
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight="Services"
    title="What you get with Hugo"
    subtitle="Server infrastructure configuration and operation, project management, Microsoft Windows Servers, AV, quarterly reporting, procurement, technical user documentation, and ensuring daily operations adhere to organizational goals."
    items={[
      [
        {
          title: 'Server Infrastructure Configuration',
          description:
            'Configured and maintained over 20 kinds of server networks, including Microsoft Windows Servers, Microsoft Exchange email systems, and Microsoft Hyper V clusters.',
          icon: 'tabler:server',
        },
        {
          title: 'Training Workshops',
          description:
            'Lead training workshops to bring users up to speed on systems and applications.',
          icon: 'tabler:notebook',
        },
        {
          title: 'Local Area Networks',
          description:
            'Professional experience with on-site support for network applications, hardware, and connections.',
          icon: 'tabler:access-point',
        },
      ],
      [
        {
          title: 'Virtual Environments',
          description:
            'Managed dozens of virtual enviornments, such as Microsoft Hyper V clusters and VMware ESXi.',
          icon: 'tabler:device-laptop',
        },
        {
          title: 'Efficient Operational Procedures',
          description:
            'Supervise and manage IT operations using my suggested streamlined operational procedures, gained after working for a variety of  organizations.',
          icon: 'tabler:businessplan',
        },
        {
          title: 'Friendly Customer Service',
          description:
            'IT Success is my #1 goal for my clients, but I also greatly enjoy helping them establish sound practices. It makes me happy to be able to be of service.',
          icon: 'tabler:mood-smile',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <!-- <Content
    highlight="Inside template"
    title="And what's inside? ..."
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ad vix debet docendi</h3>
      Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
      tacimates.
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('~/assets/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  /> -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your IT system up and buzzing in a jiffy."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Planning</span>',
        description:
          'First, we\'ll determine your business\'s needs. After deciding your goals, we\'ll decide and purchase servers, software and equipment.',
        icon: 'tabler:calendar-plus',
      },
      {
        title: 'Step 2: <span class="font-medium">Installation</em>',
        description:
          'After acquiring the systems parts, we\'ll initialize and install all networking and operating software.  Then, it\'s important to test endpoints and functionality.',
        icon: 'tabler:apps',
      },
      {
        title: 'Step 3: <span class="font-medium">Configuration and Management</span>',
        description:
          'I\'ll help with setting up major system parameters, features, and devices. Lastly, we\'ll utilize administrative services to observe software performance, availability, and diagnostics.',
        icon: 'tabler:settings-automation',
      },
      {
        title: 'System up and running!',
        icon: 'tabler:checks',
      },
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    highlight="Components"
    items={[
      {
        title: 'Headers',
        description:
          'In general, Headers contain information that makes it easier for visitors to interact with the website.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Display your product in action and how the Features actually create a solution for your target customer.',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Content',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'icon-park:page-template',
      },
    ]}
  /> -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <LatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="My clients typically ask me these questions."
    highlight="FAQs"
    items={[
      [
        {
          question: 'How do I setup a server network?',
          answer:
            'Depending on the business, budget, resources and timeline, I usually recommend using either Microsoft Windows Servers or Linux.  After budgeting the hardware, the proper OS is installed onto the hardware. Then, the network is configured and managed.',
        },
        {
          question: 'How can you help me?',
          answer:
            "I can help you decide which hardware and OS is optimal for your business needs.  I'll show you how to properly configure and maintain your system, whether it's network, virtual, Email exchange, LAN or even mobile devices!",
        },
        {
          question: "How can I optimize my system?",
          answer:
            "Depending on the budget, I can help you upgrade your device software and hardware at an enterprise scale. I can assist with upgrading your system security, resiliance, uptime, bandwidth, speed and maintainability",
        },
      ],
      [
        {
          question: "What is the most difficult IT challenge you've overcome?",
          answer:
            "A long time ago I led the migration of Nextel telecom devices to Sprint network and implemented systemwide mobile device management. It was a challenge because we had to upgrade thousands of phones.",
        },
        {
          question: 'How do I manage my system?',
          answer:
            "Uptime and resiliance are critical in operating IT infrastructure. I can help you observe, document and maintain using management systems.",
        },
        {
          question: 'Any general networking advice?',
          answer:
            "Simplify your tools, and your business / IT interfaces. Figure out how to identify root causes. Scale your network to your skillset. And maintain visibility throughout cloud migrations.",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Years of Professional Experience', value: '13' },
      { name: 'Customers Serviced', value: '1K+' },
      { name: 'Types of IT Systems Serviced', value: '100+' },
      { name: 'Workshops Lead', value: '20+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Ask Hugo',
      href: 'mailto:hugo.limon@gmail.com',
      icon: 'tabler:message',
    }}
  >
    <Fragment slot="title">
      Hugo's <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">IT Consulting</span>
    </Fragment>

    <Fragment slot="subtitle">
      Please feel free to ask about a free consultation.<br class="hidden md:inline" /> I'll get back to you as soon as possible!
    </Fragment>
  </CallToAction>
</Layout>
