---
import { Icon } from 'astro-icon';
---
<div class="flex items-center space-x-6">
  
  <Icon name="tabler:server" class="w-8 h-10 inline-block dark:text-gray-400" />
  <span class="self-centers text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    Hugo's IT Consulting</span
  >
</div>
